<div id="<%= dom_id cart %>" class="my-5 space-y-5">
    <h2 class="text-lg font-bold mb-3">Your Pragmatic Cart</h2>

    <ul class="list-none list-inside">
        <% cart.line_items.each do |item| %>
            <li><%= item.quantity %> &times; <%= item.product.title %></li>
        <% end %>
    </ul>

    <%= button_to "Empty Cart", cart, method: :delete, class: "bg-green-600 py-1 px-2 ml-4 text-white rounded-lg cursor-pointer" %>
</div>
