<% if line_item == @current_item %>
<tr class="line-item-highlight h-12">
<% else %>
<tr class="h-12">
<% end %>
    <td class="text-right"><%= line_item.quantity %></td>
    <td>&times;</td>
    <td class="pr-2"><%= line_item.product.title %></td>
    <td class="text-right font-bold"><%= number_to_currency line_item.total_price, unit: "€" %></td>
    <td><%= button_to "–", line_item, method: :delete, class: "py-1 px-2 bg-red-600 rounded-lg text-white ml-4 cursor-pointer" %></td>
</tr>